:root {
    --font-size: 1em;
    --font-regular: 500;
    --font-bold: 700;
    --font-very-bold: 900;
    --font-family: 'Red Hat Display', sans-serif;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-bold);
    line-height: calc(var(--font-size) * 1);
    margin: 1rem 0;
    padding: 0;
}

p {
    font-weight: var(--font-regular);
    line-height: calc(var(--font-size) * 1.6);
    margin: 1rem 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

input, textarea, button, select {
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}